@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #338cf4;
}

.container{
 position: absolute;
 transform: translate(-50%, -50%);
 left:50%;
 top:50%;
 width:90vmin;
 background-color: white;
 padding: 50px 30px;
}

button {
 background: none;
 border: none;
 width: 28px;
 height: 28px;
}

.options {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 padding: 0px 10px;
}

#editor {
 border: 1px solid #ddd;
 margin: 10px;
 height: 50vh;
}

#selection {
 margin: 5px;
}
select {
 padding: 7px;
 font-family: 'Poppins', sans-serif;
}
.input-wrapper input[type="color"]{
 background-color: transparent;
}
#editor {
 padding: 10px;
}

.active {
 background-color: #e0e9ff;
}